.chat-page {
    display: flex; 
    height: 100vh;
}

.contact {
    width: 200px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    gap: 20px;
}



.chat-profile {
    display: flex;
    flex-direction: row;
    flex: 1; 
    height: 100%;
}

/* ChatInterface container */
.chat-profile > .chat-interface {
    flex: 1; 
    transition: width 0.3s ease; 
}

/* Profile sidebar */
.chat-profile > .profile-sidebar {
    width: 300px; 
}

