.header {
    border-Bottom: 1px solid #ccc;
    padding: "30px";
    background-color: #ccc;
    font-size: large;
    font-weight: 600;
}

.chat-interface {
  flex: 1;
  display: flex;
   flex-Direction: column;
}

.messageContainer {
    flex: 1;
    padding: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messageBubble {
  max-width: 100%;
  padding: 8px 12px;
  border-radius: 12px;
  position: relative;
}

.fromMe {
  background: #daf8cb;
  align-self: flex-end;
}

.fromOther {
  background: #fff;
  border: 1px solid #ddd;
  align-self: flex-start;
}

.messageImage {
  max-width: 200px;
  border-radius: 8px;
  margin-top: 5px;
}

.messageTime {
  font-size: 0.7em;
  color: #888;
  margin-top: 4px;
  text-align: right;
}

.textBox {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  gap: 10px;
  flex-shrink: 0;
}

.textBox input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  
}

input {
    width: 90%;
}

