.scrollable {
    overflow-y: auto;
}

img {
    width: 30px;
    height: 30px;
    border-Radius: 50%;
    object-Fit: cover;
    margin-Right: 10px;
}

.search-box {
    margin-left: auto;
    margin-right: auto;
    width:90%;
    align-items: center;
}

