.sidebar {
    width: 60px;
    height: 100vh;
    background: #222; 
    color: white;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 480px) {
  .sidebar {
    flex-direction: row;
    width:100%;
    height:auto;
}}